<nav class="NavBar">
  <ul class="NavList">
    <li class="NavItem">
      <a href="{% url 'home' %}" class="NavLink">
        <span class="NavIcon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="NavTitle">Home</span>
      </a>
    </li>
    <li class="NavItem">
      <a href="{% url 'add' %}" class="NavLink">
        <span class="NavIcon"><ion-icon name="add-outline"></ion-icon></span>
        <span class="NavTitle">Add</span>
      </a>
    </li>
  </ul>
  {% if user.is_authenticated %}
  <div class="BtnFlexCont-m">
    <span class="Title-5">{{ user.get_username }}</span>
    <div class="BtnFlexCont-m">
      <a href="{% url 'profile' %}" class="Btn">
        <span class="Icon"><ion-icon name="person-outline"></ion-icon></span>
        <span class="BtnText">Profile</span>
      </a>
      <a href="{% url 'logout' %}" class="Btn">
        <span class="Icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <span class="BtnText">Logout</span>
      </a>
    </div>
  </div>
  {% else %}
  <div class="BtnFlexCont-m">
    <a href="{% url 'register' %}" class="Btn">
      <span class="Icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <span class="BtnText">Sign up</span>
    </a>
    <a href="{% url 'login' %}" class="Btn">
      <span class="Icon">
        <ion-icon name="log-in-outline"></ion-icon>
      </span>
      <span class="BtnText">Sign in</span>
    </a>
  </div>
  {% endif %}
</nav>
